<li class="flex py-6 border-black border-4 p-4 m-8">
  <div class="ml-4 flex flex-1 flex-col">
    <div class="flex justify-between text-base font-medium">
      <h4 class="text-2xl text-gray-900">
        <a href="/users/<%= post.author.id %>/posts/<%= post.id %>"> <%= post.title%> #<%= post.id%> </a>
      </h4>
    </div>
    <div class="flex flex-1 items-end justify-end text-sm">

      <p class="text-gray-500 ml-4">Comments </p>
      <p type="button" class="text-indigo-600 hover:text-indigo-500 ml-2"><%= post.comments_counter%></p>

      <p class="text-gray-500 ml-4">Likes </p>
      <%= render partial: "posts/create_likes", locals: {post: post} %>

      <% if can? :destroy, post %>
        <%= button_to "Delete", user_post_path(post.author_id, post), method: :delete, class: "text-indigo-600 hover:text-indigo-500 ml-2" %>
      <% end %>
    </div>
    <p class='post-content'><%= post.text %></p>

    <ul>
      <% if request.path.include?('/posts') %>
        <% if post.comments.any? %>
          <%= render partial: 'posts/post_comments', locals: { comments: post.latest_five_comments.includes(:author)} %>
        <% end %>

        <% if post.comments.empty? %>
          <p class="ml-4 font-medium text-sm text-gray-900 pt-6">
            <span class="text-indigo-600 hover:text-indigo-500">There no comments for this post!</span>
          </p>
        <% end %>
      <% end %>
    </ul>

  </div>
</li>
